.task {
  padding: var(--padding-standard);
  border-radius: var(--border-radius-standard);
  cursor: pointer;
  list-style: none;
  text-align: left;
  border: none;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 2rem;
}

.spacer {
  grid-column: 2 /3;
  justify-self: start;
}

.noStatus {
  background-color: var(--color-grey-100);
}

.inProgress {
  background-color: var(--color-yellow-100);
}

.wontDo {
  background-color: var(--color-red-200);
}
.completed {
  background-color: var(--color-green-100);
}
